<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
      <meta name="theme-color" content="#000000" />
      <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  </head>
  <body>
    <div class="container">
      <div class="login-span"></div>
      <div class="login-everything">
        <p class="login-title main-title">Login</p>
        <div class="login-box">
          <form method="post">
            {{#if loginError }}
              <div class="error">
                Invalid username and/or password.
              </div>
            {{/if}}
            <span class="login-desc">email:</span><br>
            <input type="text" placeholder="eg name@website.com" name="email"></input>
            <span class="login-desc">password:</span><br>
            <input type="password" placeholder="put your password here" name="password"></input>
            <ul>
              <div class="login-submit"><ul><li  class="left"><p><a href="#">forgot pass?</a></p></li><li class="right"><input type="submit"></input></li></ul></div>
            </ul>
          </form>
        </div>
        <p class="login-title">Sign up</p>
        <div class="login-box">
          <form>
            <span class="login-desc">email:</span><br>
            <input type="text" placeholder="eg name@website.com"></input>
            <span class="login-desc">pick a username:</span>
            <input type="text" placeholder="must be between 3 and 10 characters"></input>
            <span class="login-desc">choose a password:</span><br>
            <input type="password" placeholder="make it secure"></input>
            <ul>
              <div class="login-submit"><ul><li class="right"><input type="submit" value="Register"></input></li></ul></div>
            </ul>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
